# 0. Importação dos dados

In [13]:
import pandas as pd

In [14]:
def importar_dados():

    lista = []

    for i in range(4):
        url = f"https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_{i+1}.csv"

        df = pd.read_csv(url)
        loja = (f"loja_{i+1}", df)

        lista.append(loja)

    return lista


def exibir_dados(df: pd.DataFrame):
    df.head()

dados_lojas = importar_dados()
loja_str, loja_df = dados_lojas[0]

loja_df.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

# 1. Análise do faturamento

In [15]:
def calcular_faturamento(lista_lojas: list):

    lista_faturamentos = []

    for loja in lista_lojas:
        loja_str, loja_df = loja

        lista_de_vendas = list(loja_df['Preço'])
        faturamento = sum(lista_de_vendas)

        lista_faturamentos.append((loja_str, faturamento))

    return lista_faturamentos


faturamentos = calcular_faturamento(lista_lojas=dados_lojas)
print(faturamentos)

[('loja_1', 1534509.12), ('loja_2', 1488459.06), ('loja_3', 1464025.03), ('loja_4', 1384497.58)]

# 2. Vendas por Categoria

In [22]:
def categorias(df: pd.DataFrame):

    return set(df['Categoria do Produto'])


def vendas_por_categoria(lista_lojas: list):

    lista_vendas_por_categoria = []

    for loja in lista_lojas:
        loja_str, loja_df = loja

        lista_vendas = list(loja_df['Categoria do Produto'])
        
        loja_dict = {
            loja_str: {

            }
        }

        for categoria in categorias(loja_df):
            qtd_de_vendas = lista_vendas.count(categoria)

            loja_dict[loja_str].update({categoria: qtd_de_vendas})

        
        lista_vendas_por_categoria.append(loja_dict)

    return lista_vendas_por_categoria

lista_de_vendas = vendas_por_categoria(dados_lojas)
print(lista_de_vendas)

[{'loja_1': {'livros': 173, 'moveis': 465, 'brinquedos': 324, 'eletronicos': 448, 'instrumentos musicais': 182, 'esporte e lazer': 284, 'utilidades domesticas': 171, 'eletrodomesticos': 312}}, {'loja_2': {'livros': 197, 'moveis': 442, 'brinquedos': 313, 'eletronicos': 422, 'instrumentos musicais': 224, 'esporte e lazer': 275, 'utilidades domesticas': 181, 'eletrodomesticos': 305}}, {'loja_3': {'livros': 185, 'moveis': 499, 'brinquedos': 315, 'eletronicos': 451, 'instrumentos musicais': 177, 'esporte e lazer': 277, 'utilidades domesticas': 177, 'eletrodomesticos': 278}}, {'loja_4': {'moveis': 480, 'brinquedos': 338, 'eletronicos': 451, 'instrumentos musicais': 170, 'esporte e lazer': 277, 'utilidades domesticas': 201, 'eletrodomesticos': 254, 'livros': 187}}]

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja